USE [master]
GO
/****** Object:  Database [SeriesDb]    Script Date: 25-08-2025 21:45:49 ******/
CREATE DATABASE [SeriesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeriesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SeriesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeriesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SeriesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeriesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeriesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[ErrorLogId] [int] IDENTITY(1,1) NOT NULL,
	[OccurredOn] [datetime2](7) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[StackTrace] [nvarchar](max) NOT NULL,
	[AdditionalInfo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ErrorLogs] PRIMARY KEY CLUSTERED 
(
	[ErrorLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Series]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Series](
	[SeriesId] [int] IDENTITY(1,1) NOT NULL,
	[SeriesName] [nvarchar](250) NOT NULL,
	[SeriesType] [nvarchar](50) NOT NULL,
	[SeriesStatus] [nvarchar](50) NOT NULL,
	[MatchStatus] [nvarchar](50) NOT NULL,
	[MatchFormat] [nvarchar](50) NOT NULL,
	[SeriesMatchType] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[Year] [nvarchar](4) NOT NULL,
	[TrophyType] [nvarchar](100) NOT NULL,
	[SeriesStartDate] [datetime2](7) NOT NULL,
	[SeriesEndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[apiId] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Series] PRIMARY KEY CLUSTERED 
(
	[SeriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250820082134_inti', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250820092050_init', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[ErrorLogs] ON 

INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (1, CAST(N'2025-08-21T06:02:30.0866667' AS DateTime2), N'Yearv', N'   at Microsoft.Data.ProviderBase.FieldNameLookup.GetOrdinal(String fieldName)
   at Microsoft.Data.SqlClient.SqlDataReader.GetOrdinal(String name)
   at Microsoft.Data.SqlClient.SqlDataReader.get_Item(String name)
   at SeriesRepository.GetSeriesReport(Int32[] years) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 275', N'GetSeriesReport')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (2, CAST(N'2025-08-22T16:44:31.3366667' AS DateTime2), N'SeriesIdv', N'   at Microsoft.Data.ProviderBase.FieldNameLookup.GetOrdinal(String fieldName)
   at Microsoft.Data.SqlClient.SqlDataReader.GetOrdinal(String name)
   at SeriesRepository.GetAllSeries() in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 114', N'GetAllSeries')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (3, CAST(N'2025-08-22T16:47:00.2366667' AS DateTime2), N'SeriesIdv', N'   at Microsoft.Data.ProviderBase.FieldNameLookup.GetOrdinal(String fieldName)
   at Microsoft.Data.SqlClient.SqlDataReader.GetOrdinal(String name)
   at SeriesRepository.GetAllSeries() in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 114', N'GetAllSeries')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (4, CAST(N'2025-08-22T17:35:51.1900000' AS DateTime2), N'SeriesIdv', N'   at Microsoft.Data.ProviderBase.FieldNameLookup.GetOrdinal(String fieldName)
   at Microsoft.Data.SqlClient.SqlDataReader.GetOrdinal(String name)
   at SeriesRepository.GetAllSeries() in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 118', N'GetAllSeries')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (5, CAST(N'2025-08-22T17:38:34.1800000' AS DateTime2), N'MatchFormatsd', N'   at Microsoft.Data.ProviderBase.FieldNameLookup.GetOrdinal(String fieldName)
   at Microsoft.Data.SqlClient.SqlDataReader.GetOrdinal(String name)
   at Microsoft.Data.SqlClient.SqlDataReader.get_Item(String name)
   at SeriesRepository.GetSeriesReport(Int32[] years)', N'GetSeriesReport')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (6, CAST(N'2025-08-22T18:54:19.6900000' AS DateTime2), N'MatchFormatsd', N'   at Microsoft.Data.ProviderBase.FieldNameLookup.GetOrdinal(String fieldName)
   at Microsoft.Data.SqlClient.SqlDataReader.GetOrdinal(String name)
   at Microsoft.Data.SqlClient.SqlDataReader.get_Item(String name)
   at SeriesRepository.GetSeriesReport(Int32[] years) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 237', N'GetSeriesReport')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (7, CAST(N'2025-08-23T06:10:49.1200000' AS DateTime2), N'SqlDateTime overflow. Must be between 1/1/1753 12:00:00 AM and 12/31/9999 11:59:59 PM.', N'   at System.Data.SqlTypes.SqlDateTime.FromTimeSpan(TimeSpan value)
   at System.Data.SqlTypes.SqlDateTime.FromDateTime(DateTime value)
   at System.Data.SqlTypes.SqlDateTime..ctor(DateTime value)
   at Microsoft.Data.SqlClient.MetaType.FromDateTime(DateTime dateTime, Byte cb)
   at Microsoft.Data.SqlClient.TdsParser.WriteUnterminatedValue(Object value, MetaType type, Byte scale, Int32 actualLength, Int32 encodingByteSize, Int32 offset, TdsParserStateObject stateObj, Int32 paramSize, Boolean isDataFeed)
   at Microsoft.Data.SqlClient.TdsParser.WriteValue(Object value, MetaType type, Byte scale, Int32 actualLength, Int32 encodingByteSize, Int32 offset, TdsParserStateObject stateObj, Int32 paramSize, Boolean isDataFeed)
   at Microsoft.Data.SqlClient.TdsParser.TDSExecuteRPCAddParameter(TdsParserStateObject stateObj, SqlParameter param, MetaType mt, Byte options, SqlCommand command, Boolean isAnonymous)
   at Microsoft.Data.SqlClient.TdsParser.TdsExecuteRPC(SqlCommand cmd, _SqlRPC[] rpcArray, Int32 timeout, Boolean inSchema, SqlNotificationRequest notificationRequest, TdsParserStateObject stateObj, Boolean isCommandProc, Boolean sync, TaskCompletionSource`1 completion, Int32 startRpc, Int32 startParam)
   at Microsoft.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean isAsync, Int32 timeout, Task& task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at Microsoft.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry, String method)
   at Microsoft.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, Boolean sendToPipe, Int32 timeout, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry, String methodName)
   at Microsoft.Data.SqlClient.SqlCommand.BeginExecuteNonQueryInternal(CommandBehavior behavior, AsyncCallback callback, Object stateObject, Int32 timeout, Boolean inRetry, Boolean asyncWrite)
   at Microsoft.Data.SqlClient.SqlCommand.BeginExecuteNonQueryAsync(AsyncCallback callback, Object stateObject)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_0(AsyncCallback callback, Object stateObject)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncImpl(Func`3 beginMethod, Func`2 endFunction, Action`1 endAction, Object state, TaskCreationOptions creationOptions)
   at System.Threading.Tasks.TaskFactory`1.FromAsync(Func`3 beginMethod, Func`2 endMethod, Object state)
   at Microsoft.Data.SqlClient.SqlCommand.InternalExecuteNonQueryAsync(CancellationToken cancellationToken)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 91', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (8, CAST(N'2025-08-23T06:11:11.1766667' AS DateTime2), N'SqlDateTime overflow. Must be between 1/1/1753 12:00:00 AM and 12/31/9999 11:59:59 PM.', N'   at System.Data.SqlTypes.SqlDateTime.FromTimeSpan(TimeSpan value)
   at System.Data.SqlTypes.SqlDateTime.FromDateTime(DateTime value)
   at System.Data.SqlTypes.SqlDateTime..ctor(DateTime value)
   at Microsoft.Data.SqlClient.MetaType.FromDateTime(DateTime dateTime, Byte cb)
   at Microsoft.Data.SqlClient.TdsParser.WriteUnterminatedValue(Object value, MetaType type, Byte scale, Int32 actualLength, Int32 encodingByteSize, Int32 offset, TdsParserStateObject stateObj, Int32 paramSize, Boolean isDataFeed)
   at Microsoft.Data.SqlClient.TdsParser.WriteValue(Object value, MetaType type, Byte scale, Int32 actualLength, Int32 encodingByteSize, Int32 offset, TdsParserStateObject stateObj, Int32 paramSize, Boolean isDataFeed)
   at Microsoft.Data.SqlClient.TdsParser.TDSExecuteRPCAddParameter(TdsParserStateObject stateObj, SqlParameter param, MetaType mt, Byte options, SqlCommand command, Boolean isAnonymous)
   at Microsoft.Data.SqlClient.TdsParser.TdsExecuteRPC(SqlCommand cmd, _SqlRPC[] rpcArray, Int32 timeout, Boolean inSchema, SqlNotificationRequest notificationRequest, TdsParserStateObject stateObj, Boolean isCommandProc, Boolean sync, TaskCompletionSource`1 completion, Int32 startRpc, Int32 startParam)
   at Microsoft.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean isAsync, Int32 timeout, Task& task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   at Microsoft.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry, String method)
   at Microsoft.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, Boolean sendToPipe, Int32 timeout, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry, String methodName)
   at Microsoft.Data.SqlClient.SqlCommand.BeginExecuteNonQueryInternal(CommandBehavior behavior, AsyncCallback callback, Object stateObject, Int32 timeout, Boolean inRetry, Boolean asyncWrite)
   at Microsoft.Data.SqlClient.SqlCommand.BeginExecuteNonQueryAsync(AsyncCallback callback, Object stateObject)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_0(AsyncCallback callback, Object stateObject)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncImpl(Func`3 beginMethod, Func`2 endFunction, Action`1 endAction, Object state, TaskCreationOptions creationOptions)
   at System.Threading.Tasks.TaskFactory`1.FromAsync(Func`3 beginMethod, Func`2 endMethod, Object state)
   at Microsoft.Data.SqlClient.SqlCommand.InternalExecuteNonQueryAsync(CancellationToken cancellationToken)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 91', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (9, CAST(N'2025-08-23T12:21:23.3866667' AS DateTime2), N'Procedure or function ''prcTblSeriesInsertUpdate'' expects parameter ''@RowsAffected'', which was not supplied.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.AddSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 46', N'AddSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (10, CAST(N'2025-08-25T07:53:44.3666667' AS DateTime2), N'Procedure or function prcTblSeriesInsertUpdate has too many arguments specified.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 96', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (11, CAST(N'2025-08-25T07:55:19.3200000' AS DateTime2), N'Procedure or function prcTblSeriesInsert has too many arguments specified.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 96', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (12, CAST(N'2025-08-25T07:56:08.6133333' AS DateTime2), N'Procedure or function prcTblSeriesInsert has too many arguments specified.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s)', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (13, CAST(N'2025-08-25T07:56:47.0433333' AS DateTime2), N'Procedure or function prcTblSeriesInsert has too many arguments specified.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s)', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (14, CAST(N'2025-08-25T07:57:29.5900000' AS DateTime2), N'Procedure or function prcTblSeriesInsert has too many arguments specified.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 96', N'UpdateSeriesAsync')
INSERT [dbo].[ErrorLogs] ([ErrorLogId], [OccurredOn], [Message], [StackTrace], [AdditionalInfo]) VALUES (15, CAST(N'2025-08-25T08:00:19.7133333' AS DateTime2), N'Procedure or function prcTblSeriesInsert has too many arguments specified.', N'   at Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at Microsoft.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at Microsoft.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)
   at Microsoft.Data.SqlClient.SqlCommand.CompleteAsyncExecuteReader(Boolean isInternal, Boolean forDescribeParameterEncryption)
   at Microsoft.Data.SqlClient.SqlCommand.InternalEndExecuteNonQuery(IAsyncResult asyncResult, Boolean isInternal, String endMethod)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryInternal(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.EndExecuteNonQueryAsync(IAsyncResult asyncResult)
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<InternalExecuteNonQueryAsync>b__208_1(IAsyncResult result)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location ---
   at SeriesRepository.UpdateSeriesAsync(tbl_Series s) in C:\Users\bhara\source\repos\SeriesManegementApp\SeriesApp.DAL\Repository\SeriesRepository.cs:line 96', N'UpdateSeriesAsync')
SET IDENTITY_INSERT [dbo].[ErrorLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Series] ON 

INSERT [dbo].[tbl_Series] ([SeriesId], [SeriesName], [SeriesType], [SeriesStatus], [MatchStatus], [MatchFormat], [SeriesMatchType], [Gender], [Year], [TrophyType], [SeriesStartDate], [SeriesEndDate], [IsActive], [Description], [apiId]) VALUES (1, N'ICC Cricket World Cup 2025', N'International', N'Scheduled', N'Upcoming', N'ODI', N'Tournament', N'Mens', N'2025', N'Cup', CAST(N'2025-10-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-16T00:00:00.0000000' AS DateTime2), 0, N'The 2025 ICC Cricket World Cup, featuring top international teams.', NULL)
INSERT [dbo].[tbl_Series] ([SeriesId], [SeriesName], [SeriesType], [SeriesStatus], [MatchStatus], [MatchFormat], [SeriesMatchType], [Gender], [Year], [TrophyType], [SeriesStartDate], [SeriesEndDate], [IsActive], [Description], [apiId]) VALUES (2, N'Women’s T20 World Cup 2025', N'Women', N'Scheduled', N'Upcoming', N'T20', N'Tournament', N'Womens', N'2025', N'Cup', CAST(N'2025-02-10T00:00:00.0000000' AS DateTime2), CAST(N'2025-03-01T00:00:00.0000000' AS DateTime2), 1, N'Global T20 tournament for women’s cricket teams.', NULL)
INSERT [dbo].[tbl_Series] ([SeriesId], [SeriesName], [SeriesType], [SeriesStatus], [MatchStatus], [MatchFormat], [SeriesMatchType], [Gender], [Year], [TrophyType], [SeriesStartDate], [SeriesEndDate], [IsActive], [Description], [apiId]) VALUES (3, N'IPL 2025 new updated', N'Women', N'Scheduled', N'Scheduled', N'T20', N'TEST', N'Mens', N'2025', N'Asia Cup', CAST(N'2025-03-15T00:00:00.0000000' AS DateTime2), CAST(N'2025-05-31T00:00:00.0000000' AS DateTime2), 0, N'Indian Premier League, a T20 cricket league.', NULL)
SET IDENTITY_INSERT [dbo].[tbl_Series] OFF
GO
/****** Object:  StoredProcedure [dbo].[GetMatchFormatStatsByYear]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetMatchFormatStatsByYear]
    @Years NVARCHAR(100)   -- e.g. '2024,2025'
AS
BEGIN
    SET NOCOUNT ON;

    -- Convert comma string → table
    ;WITH YearFilter AS
    (
        SELECT TRIM(value) AS YearVal
        FROM STRING_SPLIT(@Years, ',')
    )
    SELECT 
        s.MatchFormat,
        s.[Year],
        SUM(CASE WHEN s.Gender IN ('Men','Mens') THEN 1 ELSE 0 END) AS MenMatches,
        SUM(CASE WHEN s.Gender IN ('Women','Womens') THEN 1 ELSE 0 END) AS WomenMatches,
        SUM(CASE WHEN s.Gender = 'Other' THEN 1 ELSE 0 END) AS OtherMatches
    FROM tbl_Series s
    INNER JOIN YearFilter yf ON s.[Year] = yf.YearVal
    Where IsActive = 1
    GROUP BY s.MatchFormat, s.[Year]
    ORDER BY s.[Year], s.MatchFormat;
END;
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesDelete]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[prcTblSeriesDelete]
    @SeriesId INT
AS
BEGIN

    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.tbl_Series WHERE SeriesId = @SeriesId)

    UPDATE dbo.tbl_Series
    SET IsActive = 0
    WHERE SeriesId = @SeriesId;
    
    return @@rowcount;

END;


exec  [dbo].[prcTblSeriesDelete] @seriesId =19;
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesInsert]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prcTblSeriesInsert]
    @SeriesName NVARCHAR(250),
    @SeriesType NVARCHAR(50),
    @SeriesStatus NVARCHAR(50),
    @MatchStatus NVARCHAR(50),
    @MatchFormat NVARCHAR(50) = NULL,
    @SeriesMatchType NVARCHAR(50) = NULL,
    @Gender NVARCHAR(20),
    @Year NVARCHAR(4),
    @TrophyType NVARCHAR(100),
    @SeriesStartDate DATE,
    @SeriesEndDate DATE,
    @IsActive BIT,
    @Description NVARCHAR(500) = NULL,
    @SeriesId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.tbl_Series
    (SeriesName, SeriesType, SeriesStatus, MatchStatus, MatchFormat, SeriesMatchType, Gender, [Year], TrophyType, SeriesStartDate, SeriesEndDate, IsActive, Description)
    VALUES
    (@SeriesName, @SeriesType, @SeriesStatus, @MatchStatus, @MatchFormat, @SeriesMatchType, @Gender, @Year, @TrophyType, @SeriesStartDate, @SeriesEndDate, @IsActive, @Description);

    SET @SeriesId = SCOPE_IDENTITY();
 
END;

GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesInsertUpdate]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prcTblSeriesInsertUpdate]
	@SeriesName NVARCHAR(250),
    @SeriesType NVARCHAR(50),
    @SeriesStatus NVARCHAR(50),
    @MatchStatus NVARCHAR(50),
    @MatchFormat NVARCHAR(50) = NULL,
    @SeriesMatchType NVARCHAR(50) = NULL,
    @Gender NVARCHAR(20),
    @Year NVARCHAR(4),
    @TrophyType NVARCHAR(100),
    @SeriesStartDate DATE,
    @SeriesEndDate DATE,
    @IsActive BIT,
    @Description NVARCHAR(500) = NULL,
    @cmdType varchar(10),
    @SeriesId INT OUTPUT,
    @RowsAffected INT OUTPUT
   
AS
BEGIN
	SET NOCOUNT ON;
   if @cmdType ='insert'
    Begin
       INSERT INTO dbo.tbl_Series
           (SeriesName, SeriesType, SeriesStatus, MatchStatus, MatchFormat, SeriesMatchType, Gender, [Year], TrophyType, SeriesStartDate, SeriesEndDate, IsActive, Description)
        VALUES(@SeriesName, @SeriesType, @SeriesStatus, @MatchStatus, @MatchFormat, @SeriesMatchType, @Gender, @Year, @TrophyType, @SeriesStartDate, @SeriesEndDate, @IsActive, @Description);
        SET @SeriesId = SCOPE_IDENTITY();
     End
   ELSE IF @cmdType='update'
   
    BEGIN 
    TRY
        UPDATE dbo.tbl_Series
        SET SeriesName      = @SeriesName,
            SeriesType      = @SeriesType,
            SeriesStatus    = @SeriesStatus,
            MatchStatus     = @MatchStatus,
            MatchFormat     = @MatchFormat,
            SeriesMatchType = @SeriesMatchType,
            Gender          = @Gender,
            [Year]          = @Year,
            TrophyType      = @TrophyType,
            SeriesStartDate = @SeriesStartDate,
            SeriesEndDate   = @SeriesEndDate,
            IsActive        = @IsActive,
            Description     = @Description
        WHERE SeriesId = @SeriesId;

        -- capture how many rows were affected
        SET @RowsAffected = @@ROWCOUNT;
    END
    
    TRY
    BEGIN 
    CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
    ELSE 
    BEGIN

    UPDATE tbl_Series
    SET IsActive=0
    WHERE SeriesId=@SeriesId

    END
    
END;
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesSearch]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prcTblSeriesSearch]
    @SeriesId INT = NULL,
    @SeriesType NVARCHAR(50) = NULL,
    @SeriesName NVARCHAR(250) = NULL,
    @StartFromDate DATE = NULL,
    @EndToDate DATE = NULL,
    @SortBy NVARCHAR(50) = 'SeriesStartDate DESC' -- Default sort
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        SeriesId,
        SeriesName,
        SeriesType,
        SeriesStatus,
        MatchStatus,
        MatchFormat,
        SeriesMatchType,
        Gender,
        Year,
        TrophyType,
        SeriesStartDate,
        SeriesEndDate,
        IsActive,
        Description
    FROM dbo.tbl_Series
    WHERE 
        IsActive = 1 -- Always filter for active series
        AND (
            @SeriesId IS NULL OR SeriesId = @SeriesId
        )
        AND (
            @SeriesType IS NULL OR SeriesType = @SeriesType
        )
        AND (
            @SeriesName IS NULL OR SeriesName LIKE '%' + @SeriesName + '%'
        )
        AND (
            @StartFromDate IS NULL OR SeriesStartDate >= @StartFromDate
        )
        AND (
            @EndToDate IS NULL OR SeriesEndDate <= @EndToDate
        )
    ORDER BY 
       
        CASE 
            WHEN @SortBy = 'SeriesStartDate ASC' THEN SeriesStartDate
        END ASC,
        CASE 
            WHEN @SortBy = 'SeriesStartDate DESC' THEN SeriesStartDate
        END DESC,
        CASE 
            WHEN @SortBy = 'SeriesEndDateAsc' THEN SeriesEndDate
        END ASC,
        CASE 
            WHEN @SortBy = 'SeriesEndDateDesc' THEN SeriesEndDate
        END DESC,
        SeriesStartDate DESC; -- Default sort if no valid @SortBy
END
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesUpdate]    Script Date: 25-08-2025 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prcTblSeriesUpdate]
    @SeriesId INT,
    @SeriesName NVARCHAR(250),
    @SeriesType NVARCHAR(50),
    @SeriesStatus NVARCHAR(50),
    @MatchStatus NVARCHAR(50),
    @MatchFormat NVARCHAR(50) = NULL,
    @SeriesMatchType NVARCHAR(50) = NULL,
    @Gender NVARCHAR(20),
    @Year NVARCHAR(4),
    @TrophyType NVARCHAR(100),
    @SeriesStartDate DATE,
    @SeriesEndDate DATE,
    @IsActive BIT,
    @Description NVARCHAR(500) = NULL,
    @RowsAffected INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.tbl_Series
        SET SeriesName      = @SeriesName,
            SeriesType      = @SeriesType,
            SeriesStatus    = @SeriesStatus,
            MatchStatus     = @MatchStatus,
            MatchFormat     = @MatchFormat,
            SeriesMatchType = @SeriesMatchType,
            Gender          = @Gender,
            [Year]          = @Year,
            TrophyType      = @TrophyType,
            SeriesStartDate = @SeriesStartDate,
            SeriesEndDate   = @SeriesEndDate,
            IsActive        = @IsActive,
            Description     = @Description
        WHERE SeriesId = @SeriesId;

        -- capture how many rows were affected
        SET @RowsAffected = @@ROWCOUNT;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
USE [master]
GO
